[submodule "ext/gdeltPyR"]
	path = ext/gdeltPyR
	url = https://github.com/allisterb/gdeltPyR.git
[submodule "ext/pygraphistry"]
	path = ext/graphistry
	url = https://github.com/allisterb/pygraphistry.git
